<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <title>api</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'swagger.css' %}" />
    <script src="{% static 'swagger.js' %}"></script>
</head>

<body>
    <div id="swagger-ui"></div>

    <script>
        const ui = SwaggerUIBundle({
            url: "{% url schema_url %}",
            dom_id: '#swagger-ui',
            presets: [
                SwaggerUIBundle.presets.apis,
                SwaggerUIBundle.SwaggerUIStandalonePreset
            ],
            layout: "BaseLayout"
        })
    </script>
</body>

</html>